.avatar-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.avatar-container img {
  max-width: 400px;
  width: 80%;
  display: block;
}

#eyes {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translate(0, 0);
  transition: transform 0.08s linear;
  pointer-events: none; 
}
